@import "../../index.scss";

.select__dropdown__container {
    position: relative;

    .select__dropdown {
        display: flex;
        flex-direction: column;
        gap: 1;

        .select__dropdown__control {
            background: $color-pink;
            border-radius: 25px;
            display: flex;
            justify-content: space-between;
            padding: 5px 20px;
            color: $color-dark-gray;
            cursor: pointer;
            align-items: center;

            &.open {
                img {
                    transform: rotate(180deg);
                }
            }

            img {
                height: 12px;
                width: 12px;
                opacity: 0.6;
            }
        }
    }

    .select__dropdown__list {
        background: $color-pink;
        color: $color-dark-gray;
        border-radius: 10px;
        width: 100%;
        position: absolute;
        margin: 0;
        padding: 0;
        margin-top: 0.25rem;
        overflow: auto;
        overflow-x: hidden;
        z-index: 10;
        list-style: none;

        &.hidden {
            display: none;
        }

        li {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            list-style: none;
            padding: 5px 20px;
            cursor: pointer;
            border-top: $color-pink-highlight 1px solid;

            &:hover, &.selected {
                background: $color-pink-highlight;
            }

            img {
                height: 12px;
                width: 12px;
                opacity: 0.6;
            }

        }
    }
}
