@import '../../index.scss';

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #181818;

  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  .header-img {
    display: flex;
    img {
      object-fit: contain;
      max-height: 20px;
      max-width: 180px;
      margin-left: 24px;
    }
  }

  .header-links {
    display: flex;
    flex-wrap: wrap;
    .header-link {
      display: flex;
      width: 166px;
      color: #b4b4b4;
      font-size: $font-size-300;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      text-decoration: none;
      cursor: pointer;

      border: none;
      outline: none;
      background-color: transparent;
      border-bottom: 2px solid #4d4d4d;
      padding-top: 20px;
      padding-bottom: 12px;

      &:hover {
        border-bottom: 2px solid $color-purple;
      }

      &.header-link-active {
        color: $color-white;

        border-bottom: 2px solid $color-purple;
      }
    }
  }

  .header-built-by {
    font-size: $font-size-400;
    color: $color-white;
    line-height: 1.5;

    img {
      height: 16px;
      width: 82.4px;
      margin-left: 4px;
    }
    white-space: nowrap;
    margin-right: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .header-menu-button {
    display: none;
  }
}

@media screen and (max-width: 850px) {
  header {
    height: 36px;
    .header-links {
      display: none;
    }

    .header-built-by {
      display: none;
    }

    .header-img {
      img {
        max-height: 16px;
        max-width: 72px;
        margin: 10px;
        margin-left: 14px;
      }
    }

    .header-menu-button {
      display: flex;
      background-color: transparent;
      cursor: pointer;
      padding: 0;
      outline: none;
      border: none;
      margin-right: 14px;
      img {
        height: 18px;
        width: 18px;
        filter: invert(100%) sepia(0%) saturate(4111%) hue-rotate(321deg)
          brightness(117%) contrast(87%);
      }

      &:active {
        opacity: 0.7;
      }
    }
  }
}

.menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;

  .menu__content {
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    position: relative;

    .menu__content__item {
      padding: 22px;
      color: $color-white;
      font-size: $font-size-400;
      line-height: 1.25;
      outline: none;
      border: none;
      border-top: 1px solid #262626;
      background-color: #181818;
      cursor: pointer;

      &:active {
        background-color: #292828;
      }
    }
  }

  .menu-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $color-black;
    opacity: 0.5;
  }
}

@media screen and (max-width: 850px) {
  .menu {
    display: unset;
  }
}
