@import '../../../index.scss';

.jwk_endpoint {
  width: 100%;
  margin-top: 24px;

  &__header {
    &__title {
      font-size: .75rem;
      line-height: 1.66;
      color: $color-medium-gray;
      margin-bottom: 4px;
    }
  }

  &__content {
    input {
      background-color: $color-dark-gray;
      border: 1px solid $color-dark-gray;
      padding: 12px;
      border-radius: $border-radius-40;
      color: $color-white;
      width: calc(100% - 24px);
    }
  }
  &__footer {
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
      width: 16px;
      height: auto;
      margin-right: 8px;
    }

    p {
      font-size: 12px;
    }

    &.success {
      color: $color-success;
      img {
        filter: $img-filter-success;
      }
    }

    &.failure {
      color: $color-failure;
      img {
        filter: $img-filter-failure;
      }
    }
  }
}