@import '../../index.scss';

.home {
  margin-left: auto;
  margin-right: auto;
  max-width: 928px;
  padding: 16px;

  display: flex;
  flex-direction: column;
  height: 800px;

  .decoded-button-generate {
    margin-left: auto;
    margin-bottom: -16px;
  }

  .home__encoded {
    position: relative;
    width: 100%;
    min-height: 124px;
    background-color: #393939;
    border-radius: $border-radius-40;

    .tooltip {
      position: absolute;
      bottom: 12px;
      right: 12px;
      height: 14px;
      width: 14px;
      .home__encoded__copy {
        cursor: pointer;
        filter: invert(88%) sepia(0%) saturate(6705%) hue-rotate(83deg)
          brightness(104%) contrast(104%);

        &:active {
          opacity: 0.7;
        }
      }
    }

    .home__encoded__editable {
      height: calc(100% - 32px);
      padding: 16px;
      color: transparent;
      caret-color: $color-white;
      outline: none;
      border: none;
    }

    .home__encoded__overlay {
      position: absolute;
      top: 16px;
      left: 16px;
      right: 16px;
      bottom: 16px;
      display: inline;
      pointer-events: none;

      .home__encoded__overlay__header {
        color: $color-purple;
        display: inline;
        word-break: break-all;
      }

      .home__encoded__overlay__payload {
        color: $color-green;
        display: inline;
        word-break: break-all;
      }

      .home__encoded__overlay__signature {
        color: $color-pink;
        display: inline;
        word-break: break-all;
      }
    }
  }

  .home__decoded {
    width: 100%;
    margin-top: 24px;

    .home__decoded__header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
}
