@import '../../../index.scss';

.encoded {
  position: relative;
  width: 100%;
  min-height: 124px;
  background-color: #393939;
  border-radius: $border-radius-40;

  .tooltip {
    position: absolute;
    bottom: 12px;
    right: 12px;
    height: 14px;
    width: 14px;
    .encoded__copy {
      cursor: pointer;
      filter: invert(88%) sepia(0%) saturate(6705%) hue-rotate(83deg)
        brightness(104%) contrast(104%);

      &:active {
        opacity: 0.7;
      }
    }
  }

  .encoded__editable {
    height: calc(100% - 32px);
    padding: 16px;
    color: transparent;
    caret-color: $color-white;
    outline: none;
    border: none;
    font-size: $font-size-500;
  }

  .encoded__overlay {
    position: absolute;
    top: 16px;
    left: 16px;
    right: 16px;
    bottom: 16px;
    display: inline;
    pointer-events: none;
    font-size: $font-size-500;

    .encoded__overlay__header {
      color: $color-purple;
      display: inline;
      word-break: break-all;
    }

    .encoded__overlay__payload {
      color: $color-green;
      display: inline;
      word-break: break-all;
    }

    .encoded__overlay__signature {
      color: $color-pink;
      display: inline;
      word-break: break-all;
    }
  }
}
