@import '../../../index.scss';

.signature {
  border-radius: $border-radius-40;
  padding: 8px;
  width: 300px;
  margin: 16px auto;
  text-align: center;
  font-weight: 500;

  &.success {
    color: $color-success;
    border: 1px solid $color-success;
  }
  &.failure {
    color: $color-failure;
    border: 1px solid $color-failure;
  }

  p {
    margin: 0px;
  }

  @media screen and (max-width: 700px) {
    width: calc(100% - 16px);
  }
}