@import '../../../index.scss';

.signature {
  border-radius: $border-radius-40;
  padding: 8px;
  width: 300px;
  margin: 0 auto;

  &.success {
    color: $color-success;
    border: 1px solid $color-success;
  }
  &.failure {
    color: $color-failure;
    border: 1px solid $color-failure;
  }
}