@import '../../index.scss';

.history {
  width: 100%;

  .history__empty-state {
    width: 100%;
    background-color: #393939;
    border-radius: $border-radius-32;
    padding: 31px 0px;
    color: $color-white;
    font-size: $font-size-400;
    color: #969696;
    text-align: center;
  }

  .history__show-more {
    width: calc(100% - 32px);
    padding: 12px 16px;
    background-color: #2C2C2C;
    border-bottom-right-radius: $border-radius-32;
    border-bottom-left-radius: $border-radius-32;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .history__item {
    background-color: #393939;
    padding: 12px 16px;
    color: $color-white;
    font-size: $font-size-300;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2px;

    &.history__item--first {
      border-top-right-radius: $border-radius-32;
      border-top-left-radius: $border-radius-32;
    }

    &.history__item--last {
      border-bottom-right-radius: $border-radius-32;
      border-bottom-left-radius: $border-radius-32;
    }

    .history__item__date {
      display: flex;
      flex-direction: row;
      align-items: center;
      img {
        min-height: 16px;
        min-width: 16px;
        height: 16px;
        width: 16px;
        margin-left: 8px;

        cursor: pointer;
        filter: invert(72%) sepia(0%) saturate(3321%) hue-rotate(141deg)
          brightness(95%) contrast(87%);

        &:active {
          opacity: 0.7;
        }
      }
    }

    .history__item__buttons {
      display: flex;
      flex-direction: row;
      align-items: center;

      img {
        min-height: 16px;
        min-width: 16px;
        height: 16px;
        width: 16px;
        margin-left: 4px;

        cursor: pointer;
        filter: invert(72%) sepia(0%) saturate(3321%) hue-rotate(141deg)
          brightness(95%) contrast(87%);

        &:active {
          opacity: 0.7;
        }
      }
    }
  }
}
