$background-color: #262626;
$color-white: #fff;
$color-black: #000;
$font-size-150: 0.687rem; // 12px
$font-size-200: 0.75rem; // 12px
$font-size-300: 0.875rem; // 14px
$font-size-400: 1rem; // 16px
$font-size-500: 1.125rem; // 18px

$color-purple: #c8aaff;
$color-purple-highlight: #b496f8;
$color-green: #bafaeb;
$color-pink: #ff8ab3;
$color-pink-highlight: #ff6ea1;
$color-success: #d2fa8f;
$color-failure: #ffc345;
$color-light-gray: #c6c6c6;
$color-medium-gray: #a8a8a8;
$color-dark-gray: #393939;

$img-filter-success: invert(97%) sepia(97%) saturate(555%) hue-rotate(25deg)
  brightness(103%) contrast(96%);
$img-filter-failure: invert(94%) sepia(31%) saturate(7484%) hue-rotate(318deg)
  brightness(99%) contrast(102%);

$border-radius-32: 10px;
$border-radius-40: 12px;

:root {
  font-family: Roboto;
  line-height: 1.4;
  font-weight: 400;

  color: $color-white;
  background-color: $background-color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.link {
  color: $color-purple;

  &:hover {
    opacity: 0.8;
  }
}

#root {
  min-height: 100vh;
}

body {
  margin: 0px;
}

h1 {
  font-weight: 700;
  font-size: $font-size-500;
  color: $color-white;
  line-height: 1.375;
  margin: 0;
  margin-top: 12px;
  margin-bottom: 12px;
}

.primary-button {
  color: $color-purple;
  border: 1px solid $color-purple;
  font-size: $font-size-300;
  padding: 8px 18px;
  background-color: transparent;
  border-radius: $border-radius-32;
  cursor: pointer;
  transition-duration: 200ms;

  &:hover {
    opacity: 0.8;
  }

  .button-image {
    margin-left: 24px;
    vertical-align: middle;
    display: inline-block;
    margin-top: -4px;
    margin-bottom: -5px;
    margin-right: -5px;

    svg {
      width: 20px;
      height: auto;
    }
  }
}

.text-button {
  color: $color-purple;
  border: none;
  outline: none;
  font-size: $font-size-300;
  background-color: transparent;
  cursor: pointer;
  transition-duration: 200ms;

  &:hover {
    opacity: 0.8;
  }
}

.secondary-button {
  background-color: $color-purple;
  color: $color-black;
  padding: 10px 28px;
  outline: none;
  border: none;
  text-decoration: none;
  border-radius: $border-radius-32;
  font-size: $font-size-300;

  &:hover {
    opacity: 0.8;
  }
}

label {
  font-size: 0.75rem;
  line-height: 1.66;
  color: $color-medium-gray;
}
